<div class="element mt-5">

        <h1 class="success-h1">Success</h1> 
        <p class="success-p">Thank you for shopping with us!<br /></p>
        <p class="success-p">A detailed email has been sent</p>
        <p class="success-p">We received your purchase request;<br/> we'll be in touch shortly!</p>
<a href="/gallery/index">Click here to continue the shopping</a>

 
</div>
